@{
    ViewBag.Title = "Home Page";
}


<h1 style="text-align:center;font-size:63px;padding-bottom:40px;padding-top:40px;">NAME OF DORMITORY</h1>

<div class="jumbotron">

    <p class="lead">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</div>

<div style="padding-bottom:90px;" class="row">
    <div class="col-md-4">
        <h2>Rooms</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
        <p><a class="btn btn-warning" href="~/Home/Room">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Not a user?</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
        <p><a class="btn btn-warning" href="~/Home/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.

        </p>
        <p><a class="btn btn-warning" href="~/Home/Login">Log in &raquo;</a></p>
    </div>
</div>


<div style="background-color:skyblue;" class="jumbotron">
    <img src="~/Pictures/logo.png" />
    <p class="lead">
        System that makes the booking process easy for students, and management of dormitories easier.
    </p>
</div>

